/* General page style */
body {
    background-color: AliceBlue;
    margin: 0;
    padding: 0;

}

div#container {
    margin: 0 15% 0 15%;
}

h1 {
    color: MidnightBlue;
    text-align: center;
}

p {
    background-color: Linen;
    border-radius: 5px;
    box-shadow: 3px 3px 2px Grey;
    padding: 6px;
    margin-top: 6px;
    color: DimGrey;
}

/* Map container style */

div#map {
    height:300px;
    max-height: 50%;
    box-shadow: 3px 3px 2px Grey;
    padding: 6px;
    color: DimGrey;
}

/* Nav menu style */


ul#menu {
    padding: 0;
    margin-bottom: 11px;
    text-align: center;
}

ul#menu li {
    display: inline;
    margin-right: 2px;
    text-align: center;
}

ul#menu li a {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    color: #696969;
    text-align: center;
}

ul#menu li a:hover {
    color: SaddleBrown;
    background-color: Beige;
    text-align: center;
}

ul#menu li.left {
    border-top-left-radius: 5px;
}

ul#menu li.right {
    border-top-right-radius: 5px;
    margin-right: 0;
}
